* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

  .container{
    background-color: #84a98c;
    width: 60rem;
    height: 35rem;
    display: grid;
    justify-content: center;
    align-items: center;
    
  }

  .content{
    background-color: #52796f;
    height: 30rem;
    width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
  }

  .aside{
    width: 50rem;
    height:25rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    
  }

  .details{
    background-color: #354f52;
    height: 100%;
    width: 100%;
    border-radius: 5%;
  }

  .edit_profile{
    background-color: #354f52;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    padding: 3rem;


  }
.form{
    display:grid ;
    gap: 1rem;
    
}

.name{
    display: flex;
    justify-content: space-between;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form input{
    height: 2.5rem;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    background-color: #0d1828;

}

label{
    color: #cad2c5;
}

button{
    height: 2rem;
    border-radius: 10px;
    border: none;
    background-color: #cad2c5;
    color: #354f52;
    cursor: pointer;
    transform: all ease-in-out 0.5s;
}

button:hover{
    background-color: #52796f;
    color: #cad2c5;
}