* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 body{font-size: 12px;

}

 .container{
   display: grid;
   grid-template-columns: 6% 15% auto ;
   height: 100vh;
   width: 100%;
   border: 2px solid #ccc;


 }

 .sidebar{
   background-color: rgba(255, 194, 151, 1);
   display: grid;
   margin: 0;
   justify-content: center;
   padding-top: 1rem;
   grid-template-rows: 50px 1fr;
   gap: 20px;

 }
 .logo{
   width: 50px;
   height: 50px;
   border-radius: 100%;

 }
 .icons .material-icons-outlined{
   color: rgba(255, 133, 44, 1);
   display: flex;
   justify-content: center;
   padding-bottom: 3rem;
 }

 
 #settings{
   position: absolute;
    bottom: 0;
    display: flex;
   justify-content: center;
   padding: 5px;
   margin: auto;

 }
 .menubar{
   padding-top: 1rem;
   width: 100%;
   background-color: white;
   display: grid;
   grid-template-rows: 50px 1fr;
   gap: 20px;
   border-right: solid 1.5px;
   border-color: rgba(133, 133, 133, 1);
   justify-content: center;
    
 }


 .menu{
   width: 100%;
   margin: 0;
   justify-content: center;

 }

 .menubar.menu{
  justify-content: center;
 }

 .menugroup{
   display: flex;
   padding-bottom: 3rem;


 }

 .menugroup .material-icons-outlined{
   padding-top: 0;
 }

 .menugroup h2{
   padding-left: 5px;
 }
 .main{
   max-width: 60%;
   display: grid;
   grid-template-rows: 50px 1fr;
   gap: 20px;
   background-color: white;
   padding-top: 20px;
   padding-left: 5rem;
  
 }

header{
   display: flex;
   justify-content: space-between;


}
 .image{
   width: 50px;
   height: 50px;
 }

 form{
   display: grid;
}

.form-group input{
   width: 100%;
   height: 40px;
   border: rgba(133, 133, 133, 1) 1.5px solid;
   border-radius: 3px;
}

.name{
   display: flex;
   width: 100%;
   justify-content: space-between;
   
}

.name input{
  width: 15rem;
}

.location{
   display: flex;
   width: 100%;
   justify-content: space-between;

}

.form-group{
   display: flex;
   flex-direction: column;
}

label{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font: 20px;
  font-weight: bold;
}

.form-group select{
  width: 15rem;
   height: 40px;
   border: rgba(133, 133, 133, 1) 1.5px solid;
   border-radius: 3px;
}

button{
  background-color: rgba(255, 133, 44, 1);
  width: 100px;
  border: 0;
  color: white;
  
}